@font-face {
    font-family: 'Title'; /* Este es el nombre que usarás en CSS */
    src: url('../assets/fonts/Bohemian-Soul.otf') format('opentype'); /* Asegúrate de que la ruta y el formato sean correctos */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'subtitle'; /* Este es el nombre que usarás en CSS */
    src: url('../assets/fonts/Aileron-Bold_1.otf') format('opentype'); /* Asegúrate de que la ruta y el formato sean correctos */
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'text'; /* Este es el nombre que usarás en CSS */
    src: url('../assets/fonts/Aileron-Regular.otf') format('opentype'); /* Asegúrate de que la ruta y el formato sean correctos */
    font-weight: 400;
    font-style: normal;
}

:root{
    --black: #000;
    --beige: #ddc092;
    --grey: #616160;
    --responsive_width: 768px;
    --title: 'Bohemian Soul', serif;
    --subtitle: 'Aileron', sans-serif;
    --text: 'Aileron', sans-serif;
}

