/* this file is a part of TicketCesar
 * Created by Luis González
 */


.registro-container {
    position: relative;
    top: 2.5rem;
    width: 20rem;
    margin: 2rem 5rem 5rem 5rem;
    padding: 1rem;
    background-color: var(--beige);
    align-items: center;

}

/* Título del formulario */
.registro-container h2 {
    font-family: var(--title);
    margin-bottom: 0rem;
    color: var(--black);
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.user-register-form {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}

/* Estilos para cada grupo de formulario (label + input) */
 .user-register-form-group {
    margin-bottom: 0rem;
    padding: 0;
    text-align: left;
}

.user-register-label {
    font-family: var(--subtitle);
    display: block;
    margin-bottom: 0.5rem;
    color: var(--black);
}


/* Unificar estilos para autofill */
.user-register-input:-webkit-autofill,
.user-register-input:-webkit-autofill:hover,
.user-register-input:-webkit-autofill:focus,
.user-register-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--beige) inset !important;
    -webkit-text-fill-color: var(--black) !important;
    border-radius: 10px !important;
    border: 0.15rem solid var(--grey) !important;
}

/* Unificar estilos para todos los tipos de input */
.user-register-input[type="email"],
.user-register-input[type="text"],
.user-register-input[type="password"],
.user-register-input[type="date"],
.user-register-input[type="tel"] {
    width: 100%;
    height: 2.5rem;
    background-color: var(--beige) !important;
    color: var(--black) !important;
    border-radius: 10px !important;
    border: 0.1rem solid var(--black) !important;
    outline: none !important;
    box-shadow: none !important;
}


.registro-container button:hover {
    background-color: var(--grey);
}

.registro-container button:active {
    background-color: var(--black);
}